.jumbotron
  h1 Welcome to Gut Hub
  p.lead
    The premier web destination for those fans of food and web development

  ul.list-inline.social-buttons
    li
      iframe(
        src='http://ghbtns.com/github-btn.html?user=tony-kerz&repo=gut-hub-web&type=watch&count=true'
        allowtransparency='true'
        frameborder='0'
        scrolling='0'
        width='110'
        height='20'
      )
    li
      iframe(
        src='http://ghbtns.com/github-btn.html?user=tony-kerz&repo=gut-hub-web&type=fork&count=true'
        allowtransparency='true'
        frameborder='0'
        scrolling='0'
        width='95'
        height='20'
      )

.marketing
  .row
    .col-md-4
      h4: i.fa.fa-thumbs-up  Good to Go!
      p.
        Kickstarts your project quickly, with everything you need, so you can
        focus on what matters: your app.

    .col-md-4
      h4: i.fa.fa-magic  Complete Build System
      p.
        A smart, <a href="http://gulpjs.com">Gulp</a>-based build system
        designed to save you time and energy.

    .col-md-4
      h4: i.fa.fa-retweet  Modularization
      p.
        Supports a structure that maintains separation of concerns while
        ensuring maximum code reuse.

  .row
    .col-md-4
      h4: i.fa.fa-star  Angular-JS
      p.
        JavaScript framework that augments browser-based, single-page
        applications with MVC functionality.
        <a href="http://angularjs.org">More &raquo;</a>

    .col-md-4
      h4: i.fa.fa-crosshairs  SASS CSS
      p.
        The dynamic stylesheet language that extends CSS with efficiency.
        <a href="http://sass-lang.org">More &raquo;</a>

    .col-md-4
      h4: i.fa.fa-twitter  Twitter Bootstrap
      p.
        Sleek, intuitive, and powerful front-end framework for faster and easier
        web development.
        <a href="http://getbootstrap.com">More &raquo;</a>
